/* AppBar Styles */
.appBar {
  background-color: #1976d2;
  border-radius: 25px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  width: 100vw;
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
  font-family: "Round", sans-serif;
}

/* Toolbar */
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  font-family: "Round", sans-serif;
}

/* Logo Container */
.logoContainer {
  display: flex;
  align-items: center;
  font-family: "Round", sans-serif;
}

.mobileLogoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%; /* Center align the logo and title on mobile */
}

.logo {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

.logoText {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: "Round", sans-serif;
  color: white;
}

.link {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: inherit;
}

/* Greeting and Menu Icons */
.menuAndIcons {
  display: flex;
  align-items: center;
  font-family: "Round", sans-serif;
}

.greeting {
  font-size: 1rem;
  margin-right: 16px;
  color: white;
  font-family: "Round", sans-serif;
}

.iconContainer {
  display: flex;
  align-items: center;
}

/* Mobile Greeting and Icons */
.mobileGreetingContainer {
  display: flex;
  align-items: center; /* Keep greeting and icon in the same line */
  justify-content: center; /* Center content horizontally */
}

.greetingMobile {
  font-size: 1.2rem; /* Increase font size for mobile */
  color: white;
  text-align: center;
  margin-right: 8px; /* Space between greeting and icon */
}

/* Responsive adjustments */
@media (max-width: 600px) {
  .toolbar {
    flex-direction: column; /* Stack elements vertically on small screens */
    align-items: center;
  }

  .menuAndIcons {
    justify-content: center;
    width: 100%;
  }

  .greetingMobile {
    font-size: 1.5rem; /* Increase font size further for mobile */
  }
}
